{% extends "base.html" %}

{% block title %}Solana Pay - The future of payments{% endblock %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" 
                data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" 
                data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active site-blocks-cover">
            <div class="site-blocks-cover" 
                 style="background-image: url('{{ url_for('static', path='images/anh1.png') }}'); height: 600px; background-size: cover; background-position: center;">
                <div class="container">
                    <div class="row align-items-md-center justify-content-end h-100">
                        <div class="col-md-6 text-begin pt-6">
                            <p style="color: white; font-size: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                Solana Pay is approved in Vietnam
                            </p>
                            <div class="intro-text text-center text-md-left">
                                <p class="mt-4">
                                    <a href="/login" class="btn btn-sm btn-dark">Log in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item site-blocks-cover">
            <div class="site-blocks-cover" 
                 style="background-image: url('{{ url_for('static', path='images/anh2.png') }}'); height: 600px; background-size: cover; background-position: center;">
                <div class="container">
                    <div class="row align-items-md-center justify-content-begin h-100">
                        <div class="col-md-8 text-begin pt-6">
                            <p style="color: whitesmoke; font-size: 45px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                The new way to Pay 
                                <a href="/register" class="btn btn-sm btn-dark">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="title text-center my-4">
    <p>Have a query? <a href="#" style="text-decoration: none">Click here</a></p>
</div>

<section id="features" class="panels theme-background-color-white simple-panels-accordion center">
    <div class="container">
        <div class="row text-xs-center panels__header">
            <div class="col-xs-12">
                <h2 class="pypl-heading panels__headline headline">Pay with peace of mind</h2>
            </div>
        </div>
        <div class="panels__container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panels__panel">
                    <div class="icon-panel text-center">
                        <div class="d-flex flex-column align-items-center">
                            <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/VN/optimized/logos/no-fee75x75.svg" 
                                 alt="No Hidden Fees" class="icon-panel__image mb-3" style="width: 75px; height: 75px;" />
                            <h3 class="pypl-heading icon-panel__headline pp-sans-small-regular h4">
                                No Hidden Fees
                            </h3>
                            <p class="icon-panel__paragraph">
                                It costs nothing to pay with Solana Pay, you'll only be charged a minimal network fee 
                                for blockchain transactions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panels__panel">
                    <div class="icon-panel text-center">
                        <div class="d-flex flex-column align-items-center">
                            <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/VN/optimized/logos/credit_card75x75.svg" 
                                 alt="Fast Transactions" class="icon-panel__image mb-3" style="width: 75px; height: 75px;" />
                            <h3 class="pypl-heading icon-panel__headline pp-sans-small-regular h4">
                                Lightning Fast
                            </h3>
                            <p class="icon-panel__paragraph">
                                Experience near-instant transactions with Solana's high-performance blockchain, 
                                processing thousands of transactions per second.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panels__panel">
                    <div class="icon-panel text-center">
                        <div class="d-flex flex-column align-items-center">
                            <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/VN/optimized/logos/buyer_protection75x75.svg" 
                                 alt="Always Protected" class="icon-panel__image mb-3" style="width: 75px; height: 75px;" />
                            <h3 class="pypl-heading icon-panel__headline pp-sans-small-regular h4">
                                Always Protected
                            </h3>
                            <p class="icon-panel__paragraph">
                                Built on Solana's secure blockchain infrastructure with cryptographic security, 
                                ensuring your transactions are safe and transparent.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="hero-section" class="editorial theme-background-image-dark custom-hero-editorialone" 
         style="background-image: url('https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/shared/home/optimized/editorial-buyer-protection.jpg'); 
                background-position: 9% center; height: 300px; width: auto;">
    <div class="container">
        <div class="row" style="margin: 0 auto; padding-top: 50px;">
            <div class="col-xs-12 col-md-6 editorial__container editorial__text text-xs-center text-md-left">
                <h2 class="pypl-heading editorial__headline text-white">
                    Less worrying, more transacting
                </h2>
                <p class="editorial__paragraph text-white">
                    Pay and receive payments with Solana Pay and enjoy the benefits of decentralized, 
                    transparent, and secure transactions on the Solana blockchain.
                </p>
                <p class="editorial__hatch-text">
                    <a style="text-decoration: none; color: aliceblue;" href="#" class="text-light">
                        Explore more features
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}